{% extends 'main/base.html' %}

{% block title %}Create your new habit{% endblock %}

{% block auth_content %}

<form class="" method="POST">
    {% csrf_token %}
    <div>
        <input type="hidden" name="user_id" value="{{user.id}}">
        <label for="category">Habit</label>
        <select class="" name="category" id="category">
            <option value="WTR">Drinking water</option>
            <option value="WLK">Walking</option>
            <option value="REA">reading books</option>
            <option value="SLP">Sleeping hours</option>
            <option value="EAT">Eat meals</option>
            <option value="SPR">Train or exercise</option>
        </select>
            <label for="interval">Interval</label>
            <select class="" name="interval" id="interval">
                <option value="DAY">Day</option>
                <option value="WEE">Week</option>
                <option value="MTH">Month</option>
        </select>
        <label for="freq">Frequency</label>
            <select class="" name="freq" id="freq">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
        </select>
        <label for="remind">Set reminder?</label>
        <input type="checkbox" id="remind" name="remind-checkbox" value="checked">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Create</button></div>
    
</form>
{% endblock %}